﻿body .top-bar {
}

    body .top-bar .main-bar {
        width: 80%;
        margin: auto;
        flex-wrap: nowrap;
        display: flex;
        border: 2px solid brown;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            display: flex;
            justify-content: flex-start;
            gap: 40px;
        }

            body .top-bar .main-bar .contact-left .contact {
                border-left: 1px solid #ced4da;
                padding: 0 10px;
                background-image: url(../Icon/call.png);
                background-position: left;
                padding-left: 20px;
                background-repeat: no-repeat;
            }

            body .top-bar .main-bar .contact-left .contact2 {
                border-left: 1px solid #ced4da;
                border-right: 1px solid #ced4da;
                padding: 0 10px;
            }

            body .top-bar .main-bar .contact-left #like {
                background-color: blueviolet;
                border-color: lightpink;
                border-radius: 3px;
                color: white;
                background-image: url('../Icon/twitter.png');
                background-position: left;
                padding-left: 20px;
                background-repeat: no-repeat;
            }

            body .top-bar .main-bar .contact-left #follow {
                background-color: #1DA1F2;
                border-color: #1DA1F2;
                border-radius: 3px;
                color: white;
                background-image: url('../Icon/check.png');
                background-position: left;
                padding-left: 20px;
                background-repeat: no-repeat;
            }

            body .top-bar .main-bar .contact-left #youtube {
                background-color: #FF0000;
                border-color: #FF0000;
                border-radius: 3px;
                color: white;
                background-image: url('../Icon/youtube.png');
                background-position: left;
                padding-left: 20px;
                background-repeat: no-repeat;
            }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            display: flex;
            justify-content: flex-end;
        }

body .main_content {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
}

    body .main_content .ads1 {
        display: flex;
        width: 100%;
        height: 130px;
        margin: auto;
        flex-wrap: nowrap;
    }

        body .main_content .ads1 .logo {
            background-image: url(../Images/Logo_Vnexpress.png);
            flex-grow: 1;
            background-size: cover;
        }

        body .main_content .ads1 .quangcao1 {
            background-image: url(../Images/banner-ads-1.png);
            flex-grow: 1.5;
            background-size: cover;
        }

        body .main_content .ads1 .quangcao2 {
            background-image: url(../Images/banner-ads-2.png);
            flex-grow: 1.5;
            background-size: cover;
        }

    body .main_content .type_bar {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin: auto;
    }

        body .main_content .type_bar .type {
            flex-grow: 1;
            margin: 0;
            text-align: center;
            font-weight: bold;
            border-left: 1px solid #ced4da;
        }

    body .main_content .page_content {
        display: flex;
        flex-wrap: wrap;
        width: 65%;
        justify-content: flex-start;
    }

        body .main_content .page_content .info-main {
            display: flex;
            flex-wrap: wrap;
            width: 65%;
            justify-content: flex-start;
            margin: 0;
        }

            body .main_content .page_content .info-main #trangnhat {
                width: 14%;
                background-color: #ced4da;
                padding: 3px 22px;
                border-left: 3px solid #800f2f;
                color: #c9184a;
                margin-right: 70%;
                margin-top: -1px;
                margin-bottom: -1px;
            }

        body .main_content .page_content #hr-top-thumnails {
            width: 90%;
            height: 3px;
            border-radius: 3px;
            background-color: red;
            box-shadow: 1px 2px 3px 1px #ced4da;
        }

        body .main_content .page_content #thumnails {
            width: 95%;
            height: 20em;
            margin-top: -10px;
        }

        body .main_content .page_content h1 {
            width: 95%;
            color: #c9184a;
            margin-top: -2px;
            margin-bottom: -4px;
        }

        body .main_content .page_content #main-info {
            font-size: 18px;
            width: 95%;
            color: #495057;
            margin-top: -2px;
        }

        body .main_content .page_content #second-info li {
            font-size: 16px;
            width: 95%;
            list-style-type: square;
            color: #495057;
            margin-top: -30px;
            margin-left: -26px;
            margin-right: 80px;
        }

        body .main_content .page_content #hr-nam-doc {
            transform: rotate(90deg);
            width: 120%;
            height: 3px;
            flex-wrap: nowrap;
            border-radius: 3px;
            background-color: red;
            box-shadow: 1px 2px 3px 1px #ced4da;
            margin-right: -290px;
            margin-top: -280px;
        }

        body .main_content .page_content .list-content {
            width: 35%;
            margin: 0;
        }

            body .main_content .page_content .list-content #english-icon {
                width: 2em;
                padding: 4px 22px;
                margin-left: 65%;
                margin-top: -2px;
                color: #495057;
                flex-wrap: nowrap;
                justify-content: flex-end;
                background-color: #ced4da;
                background-image: url(../Icon/vnE.png);
                background-position: left;
                background-repeat: no-repeat;
            }

            body .main_content .page_content .list-content .s1 {
                width: 95%;
                margin-left: 10px;
                border-bottom: 1px solid #ced4da;
                color: #495057;
            }

            body .main_content .page_content .list-content .gocnhin {
                width: 25%;
                background-color: #dee2e6;
                border-top: 1px solid red;
                font-weight: bolder;
                color: #c9184a;
            }

            body .main_content .page_content .list-content .thatthu {
                width: 40%;
                font-weight: bolder;
                font-size: 18px;
            }

            body .main_content .page_content .list-content #duchien {
                width: 40%;
                height: 80px;
                margin-left: 140px;
                border-bottom: 200px;
                margin-top: -190px;
            }

            body .main_content .page_content .list-content #hr-doi {
                width: 95%;
                height: 3px;
                right: 31em;
                bottom: 15em;
                flex-wrap: wrap;
                border-radius: 3px;
                background-color: red;
                box-shadow: 1px 2px 3px 1px #ced4da;
            }

            body .main_content .page_content .list-content p {
                color: #495057;
            }

